@import url('reset.css');

*{
	box-sizing: border-box;
}

body{
	font-family: Verdana, sans-serif;
	font-size: 100%; /*Asi el usuario decide el tamaño de la fuente*/
}

.row{
	max-width: 100%
}

.row::after{
	display: block;
	height: 0;
	clear:  both;
	content: "";
}

/*Styles for mobile view*/

header{
	background-color: #000;
}

header .logo{
	color: #fff;
	font-size: 105%;
	text-align: center;
	padding: 15px 0;
}

footer{
	background-color: #000;
}

footer p{
	text-align: center;
	color: #fff;
	font-size: 70%;
	padding: 15px 0;
}

main{
	margin: 2% 1%;
}

main nav ul li{
	background-color: #00b300;
	text-align: center;
	margin-bottom: 5px;
	padding: 10px 0;
}

main nav ul li a{
	color: #fff;
	text-decoration: none;
	display: block;
}

main nav ul li:hover{
	background-color: #008000;
	border-bottom: 4px solid #000;

}

main nav ul li:hover a{
	font-weight: bold;
}

main section{
	padding: 15px 0;
}

h1{
	font-size: 130%;
	font-weight: bold;
	padding-bottom: 15px;
}

main section p{
	padding-bottom: 15px;
}
main section div img{
	max-width: 100%;
}

aside section{
	background-color: #80d4ff;
	margin-bottom: 15px;
}

h2{
	font-size: 125%;
	font-weight: bold;
	padding-bottom: 15px;
}

@media only screen and (min-width: 768px){
	
	.col-md-6{
		float: left;
		width: 50%;
	}

	.col-md-12{
		float: left;
		width: 100%;
	}

	main nav,
	main section,
	main aside{
		padding: 0 1%;
	}

	main section{
		padding-bottom: 1%;
	}

	header .logo, 
	footer p{
		text-align: left;
		padding-left: 1%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1199px){
	main aside section{
		float: left;
		max-width: 49%;
	}

	main aside section:last-child{
		float: right;
	}
}

@media only screen and (min-width: 1200px){
	.col-lg-6{
		float: left;
		width: 50%;
	}

	.col-lg-3{
		float: left;
		width: 25%;
	}
}
